/* ProductDetail.css */

.product-detail {
    padding: 20px;
  }
  
  .product-image-2 img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  
  .product-details-2 h1 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .quantity-selector {
    margin: 20px 0;
  }
  
  .quantity-input-group {
    max-width: 150px;
  }
  
  .quantity-input {
    text-align: center;
  }
  
  .total-price {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .add-to-cart-button {
    background-color: #000; /* Primary color black */
    border: none;
  }
  
  .add-to-cart-button:hover {
    background-color: #333; /* Slightly lighter black on hover */
  }
  