/* ProductDetail.css */

.product-card {
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
}

.product-image img {
    width: 100%;
    /* Adjust width as necessary, could be 100% */
    height: auto;
    border-radius: 5px;
}

.product-info {
    margin-top: 20px;
}

.product-info p {
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


/* Add this to ProductDetail.css */

.back-button {
    padding: 8px 16px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f8f9fa;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #007bff;
    color: #ffffff;
}