.product-list {
    text-align: center;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card a {
    color: inherit;
    /* Prevents color changes */
    text-decoration: none;
    /* Removes underline */
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* Ensures the image covers the area nicely */
}

.product-details {
    padding: 10px;
}

.product-details h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-details p {
    font-size: 14px;
    color: #555;
}






.slideshow {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slideshow-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slideshow-details {
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.slideshow-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.slideshow-details p {
    font-size: 16px;
    color: #555;
}

